<% layout('/layouts/boilerplate') %>


    <h3 class="page-header mt-4 ms-3">User Logs</h3>

    <div class="col-7 m-auto">
        <%for(let transaction of transactions) {%>
                <p><%= transaction.transaction %> - Date: <%= transaction.createdAt %></p>
            <% } %>
    </div>

